@import url(fonts.css);

:root {
	--clr-ntrl-ltr: hsl(0, 0%, 100%);
	--clr-ntrl-lt: hsl(0, 0%, 94%);
	--clr-ntrl: hsl(0, 0%, 86%);
	---clr-ntrl-dk: hsl(0, 1%, 44%);
	--clr-ntrl-dkr: hsl(0, 0%, 8%);

	--clr-primary: hsl(259, 100%, 65%);
	--clr-secondary: hsl(0, 100%, 67%);

	--ff: 'Poppins';

	--fw-400: 400;
	--fw-700: 700;
	--fw-800: 800;

	--fs-dtl: 0.85rem;
	--fs-sm: 0.875rem;
	--fs-md: 2rem;
	--fs-lg: 6.5rem;

	--max-width: 880px;

	--border-radius: 12px;
}

@media (max-width: 768px) {
	:root {
		--fs-dtl: 0.75rem;
		--fs-sm: 0.75rem;
		--fs-md: 1.25rem;
		--fs-lg: 3.5rem;
	}
}

@media (max-width: 480px) {
	:root {
		--fs-dtl: 0.5rem;
		--fs-sm: 0.6rem;
		--fs-md: 0.8rem;
		--fs-lg: 2.5rem;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	-webkit-transition: font-size 0.5s ease-in-out;
	-moz-transition: font-size 0.5s ease-in-out;
	-o-transition: font-size 0.5s ease-in-out;
	transition: font-size 0.5s ease-in-out;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body {
	color: rgb(var(--clr-ntrl-dkr));
	background: var(--clr-ntrl-lt);
	font-family: var(--ff), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button[type='submit'] {
	outline: 0;
	border: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
