:root {
	--min-width: 375px;
	--max-width: 1440px;

	--border-radius: 12px;

	--font-family: 'Poppins', sans-serif;

	--font-size-sm: 0.85rem;
	--font-size-md: 2rem;
	--font-size-lg: 6rem;

	--font-weight-400: 400;
	--font-weight-700: 700;
	--font-weight-800: 800;

	--color-primary-purple: hsl(259, 100%, 65%);
	--color-primary-light-red: hsl(0, 100%, 67%);

	--color-neutral-white: hsl(0, 0%, 100%);
	--color-neutral-off-white: hsl(0, 0%, 94%);
	--color-neutral-light-grey: hsl(0, 0%, 86%);
	--color-neutral-smokey-grey: hsl(0, 1%, 44%);
	--color-neutral-off-black: hsl(0, 0%, 8%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--color-neutral-off-black));
	background: var(--color-neutral-off-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
