.main {
	margin: 0 auto;
	max-width: var(--max-width);
	min-width: var(--min-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* calculator body */

.calculator {
	background-color: var(--color-neutral-white);
	padding: 3rem;
	max-width: 840px;
	margin: 0 auto;
	border-radius: 1rem 1rem 3rem 1rem;
}

/* form */

.form {
	display: flex;
	gap: 1.5rem;
	padding-right: 12rem;
}

.form__field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form__field label {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-700);
	color: var(--color-neutral-smokey-grey);
}

.form__field input[type='number'] {
	border: 1px solid var(--color-neutral-light-grey);
	padding: 1rem 1.6rem;
	border-radius: 0.5rem;
	font-family: var(--font-family);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-700);
	width: 100%;
}

.form__field input[type='number']:active,
.form__field input[type='number']:focus,
.form__field input[type='number']:focus-within,
.form__field input[type='number']:focus-visible {
	border: 1px solid var(--color-primary-purple);
}

/* divider + button */

.divider {
	display: flex;
	align-items: center;
}

/* divider */

.divider__bar {
	flex-grow: 1;
	align-self: center;
	height: 2px;
	background-color: var(--color-neutral-off-white);
}

/* submit button */

.button {
	background-color: var(--color-primary-purple);
	border-radius: 100%;
	display: flex;
	padding: 1rem;
}

.button img {
	flex: 1;
}

/* results */

.result p {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-800);
	font-style: italic;
	line-height: 1.1;
}

.result__numbers {
	color: var(--color-primary-purple);
}

/* footer */

.attribution {
	margin-top: 1rem;
	font-size: 0.75rem;
	text-align: center;
}

.attribution a {
	color: var(--color-primary-purple);
}
